<% content_for :title, @program.name %>
<%= turbo_stream_from "program_#{@program.id}" %>

<div class="max-w-4xl mx-auto px-4">
  <div id="program_header_<%= @program.id %>">
    <%= render "programs/program_header", program: @program %>
  </div>

  <% @grid.each do |week_number, slots| %>
    <div class="mb-8">
      <h2 class="text-xs font-black uppercase tracking-widest text-gray-500 mb-3">Week <%= week_number %></h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3">
        <% slots.each do |pw| %>
          <div id="<%= pw.turbo_dom_id %>">
            <%= render "programs/program_workout_slot", program_workout: pw %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
